body {
    background: $body-bg;
    color: $body-color;
    font-family: 'Quicksand', cursive;
    font-size: 16px;
}

header {
    padding: 2rem;
    text-align: center;
    
    h1 {
        font-size: 2.5rem;
    }
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.top-bar {
    @include d-flex;
    @include flex-wrap(wrap);
    @include justify-content(center);

    padding: 1rem 2.5% 2rem;

    div {
        margin: 0 1rem;
    }

    .timer {
        font-size: 1.45rem;
    }
}

#game {
    @include d-flex;
    @include flex-wrap(wrap);

    .tile {
        @include d-flex;
        @include flex(0, 0, 20%);
        @include justify-content(center);
        @include box-shadow(1rem);

        position: relative;
        background: $grey;
        height: 5rem;
        margin: 2.5%;
        border-radius: .5rem;
        color: $white;
        font-size: 4rem;
        text-align: center;
        box-sizing: border-box;
        border: 5px solid transparent;
        transition: all $transition-speed;

        &:before {
            position: absolute;
            top: 30%;
            content: '';
            display: block;
            font-family: 'FontAwesome';
            font-size: 2rem;
            opacity: 0;
            transition: all .1s;
        }

        &:not(.flipped),
        &:not(.selected) {
            cursor: pointer;

            &:hover,
            &:focus {
                background-color: darken($grey, 7%);
            }
        }

        &.selected,
        &.flipped {

            &:before {
                opacity: 1;
            }

            &.bomb {
                background-color: #c72323;
                
                &:before {
                    content: '\f1e2';
                }
            }

            &.diamond {
                background-color: #e02d8a;

                &:before {
                    content: '\f219';
                }
            }

            &.leaf {
                background-color: #1dcd14;

                &:before {
                    content: '\f06c';
                }
            }

            &.paper {
                background-color: #b436d9;

                &:before {
                    content: '\f0c6';
                }
            }

            &.bolt {
                background-color: #e4c911;

                &:before {
                    content: '\f0e7';
                }
            }

            &.rocket {
                background-color: #128ae6;

                &:before {
                    content: '\f135';
                }
            }

            &.send {
                background-color: #12e6bc;

                &:before {
                    content: '\f1d8';
                }
            }

            &.ghost {
                background-color: #ea9e1b;

                &:before {
                    content: '\f2ac';
                }
            }
        }

        &.flipped {
           &:before {
               top: 25%;
               font-size: 2.5rem;
           }
        }

        @include min-bp(sm) {
            height: 8rem;

            &:before {
                top: 40%;
            }

            &.flipped {
                &:before {
                    top: 35%;
                }
            }
        }
    
        @include min-bp(md) {
            height: 9rem;
        }
    
        @include min-bp(lg) {
            height: 10rem;
        }
    }
}

#winner {
    @extend .container;

    opacity: 0;
    color: $primary;
    font-size: 0;
    font-weight: bold;
    transition: all $transition-speed;

    &.won {
        margin: 3rem auto 1rem;
        font-size: 3rem;
        opacity: 1;
    }
}

.btn {
    @include box-shadow(.5rem);

    background: $secondary;
    padding: .75rem 1.5rem;
    text-decoration: none;
    color: $white;
    border-radius: .25rem;
    font-weight: 700;
    transition: all $transition-speed;

    &:hover,
    &:focus {
        background: $primary;
        color: $grey;
    }
}
