// Colors
$body-bg: #fff;
$body-color: #111;
$black: #000;
$white: #fff;
$grey: #393A43;
$primary: #e4bb15;
$secondary: #09d0b2;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

// Other
$transition-speed: .35s;