// Colors
$body-bg: #fff;
$body-color: #111;
$black: #000;
$white: #fff;
$grey: #393A43;
$primary: #0AF1F0;
$secondary: #E01FEF;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

// Other
$transition-speed: .35s;